{% if pageCount > 1 %}
	<div class="c-pagination">
		<div class="c-pagination__title">Page</div>
		<div class="c-pagination__content">
			{% if previous is defined %}
				<span class="previous">
                    <a rel="prev" data-action="live#action" data-action-name="toPage(page={{ previous }})"><i class="icomoon-arrow-left"></i></a>
                </span>
			{% endif %}

			<div class="c-pagination-page">
				<div class="c-pagination-page__current">
					{% for page in pagesInRange %}
						{% if page != current %}
							<span class="page">
                                <a data-action="live#action" data-action-name="toPage(page={{ page }})">{{ page }}</a>
                            </span>
						{% else %}
							<span class="current">{{ page }}</span>
						{% endif %}
					{% endfor %}
				</div>
				<div class="c-pagination-page__total">{{ pageCount }}
				</div>
			</div>

			{% if next is defined %}
				<span class="next">
                    <a rel="next" data-action="live#action" data-action-name="toPage(page={{ next }})"><i class="icomoon-arrow-right"></i></a>
                </span>
			{% endif %}
		</div>
	</div>
{% endif %}
