{% set sortDirection = 'asc' %}
{% if key is same as(options.sort) and options.sortDirection is same as('asc') %}
    {% set sortDirection = 'desc' %}
{% endif %}
<div class="c-table__h">
	<a data-action="live#action" data-live-sort-param="{{ key }}" data-live-action-param="sortColumn" data-live-direction-param="{{ sortDirection }}">{{ title }}
        <span class="c-table__sort {{ options.class }} {{ sortDirection }}">
            <twig:ux:icon name="arrow-up" />
            <twig:ux:icon name="arrow-down" />
        </span>
	</a>
</div>
