{% set classes = cva({
    base: 'c-ico-text',
    variants: {
        direction: {
            v: 'c-ico-text--direction-v',
            h: 'c-ico-text--direction-h',
        },
        appearance: {
            1: 'c-ico-text--appearance-1',
            2: 'c-ico-text--appearance-2',
        },
        icoOnly: {
            true: 'c-ico-text--ico-only',
            false: '',
        }
    }
}) %}

{% if block('content') is defined %}
    {% set textContent = block('content') %}
{% else %}
    {% set textContent = null %}
{% endif %}

<div{{ attributes.defaults({class: classes.apply({direction, appearance, icoOnly})}) }}>
    {% if ico %}
        <div class="c-ico-text__ico {{ icoClasses }}" data-controller="icon">
            <twig:ux:icon
                    data-icon-target="icon"
                    :name="ico"
                    title="{{ not icoOnly ? textContent|striptags|trim }}"
                    aria-label="{{ not icoOnly ? textContent|striptags|trim }}"
            />
        </div>
    {% endif %}
    {% if not icoOnly %}
        <div class="c-ico-text__text">{{ textContent|raw }}</div>
    {% endif %}
</div>
