<div{{ attributes.defaults({class: 'c-impersonate'}) }}>
    {% if app.user and is_granted('ROLE_ALLOWED_TO_SWITCH') %}
        {{ form_start(form) }}
                {{ form_widget(form) }}
                <twig:button tag="button" appearance="secondary">Superviser</twig:button>
        {{ form_end(form) }}
    {% endif %}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <twig:button tag="a" href="{{ path('app.dashboard.index', {'_switch_user': '_exit'}) }}">Quitter le compte</twig:button>
    {% endif %}
</div>
